torch
torchvision
transformers
accelerate
opencv-python
pillow
numpy
scipy
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
fiftyone
datasets
scikit-learn
 matplotlib
  seaborn